embed,
iframe,
object {
  max-width: 100%;
}

img {
  display: flex;
  height: auto;
  max-width: 100%;
  font-style: italic;
}

.place-image {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}
